*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
    width: 100%;
    height: 100vh; 
    background-color: rgb(0, 162, 255);
}
.flex{
    display: flex;
    justify-content: space-between;
}
.container{
    padding: 10px;
    position: relative;
    top: 30vh;
    margin: auto;
    width: 40vw;
    background: #fff;
    border-radius: 5px;
    color: #000;
}
h2{
    margin-bottom: 18px;
}

.options{
    margin-bottom: 8px;
    margin-left: 10px;
    line-height: 25px;
}
.select{
    outline: none;
}
.select:hover, .option:hover{
    cursor: pointer;
}
button{
    cursor: pointer;
    margin-top: 18px;
    width: 100%;
    padding: 7px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(0, 162, 255);
    outline: none;
    border: none;
    border-radius: 5px;
}
button:active{
    background-color: rgb(0, 95, 150);
}

@media screen and (max-width: 425px){
    .container{
        width: 90vw;
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 70vw;
    }
}